/*
Colors used:
Primary Color(Timberwolf): #DBD7D2
Secondary Color (Amaranth M P): #873166
*/

body {
  background-color: #DBD7D2;
  font-family: 'Nunito', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4, h5 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
font-weight: 800;
}

h2 {
  font-size:2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h5 {
  font-size: 1.15em;
  font-weight: 400;
  text-transform: uppercase;
}

img {
  width: 100%;
}

a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: ff7f50;
    text-decoration: none; /* No underlining */
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* Selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  background-color: #873166;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #69264F;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #873166;
  text-transform: uppercase;
  border: 2px solid #873166;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #873166;
  color: #ffffff;
}
