/*
Colors used:
Primary Color (Platinum): #E5E2DE
Secondary Color (Amaranth M P): #873166
Tertiary Color (Ming): #00707A
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 800;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h5 {
  font-size: 1.15em;
  font-weight: 400;
  text-transform: uppercase;
}

h6 {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5px 0px;
}

img {
  width: 100%;
}

header {
  background-color: #e5e2de;
  padding: 10px 0 4px;
  box-shadow: 0px 6px 13px 0px rgba(105, 104, 104, 0.63);
  -webkit-box-shadow: 0px 6px 13px 0px rgba(105, 104, 104, 0.63);
  -moz-box-shadow: 0px 6px 13px 0px rgba(105, 104, 104, 0.63);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 65px;
}

footer {
  background-color: #e5e2de;
  padding: 10px;
}

a {
  color: #006871;
  text-decoration: none;
  font-weight: 400;
}

a:visited {
  /* visited link */
  text-decoration: none;
}

a:hover,
a:focus {
  color: #984629;
  text-decoration: underline;
}

a:active {
  /* Selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  background-color: #873166;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #69264f;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
  color: #e5e2de;
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#about .row {
  margin: 10px;
}

#hero {
  text-align: center;
}

#background {
  background-color: #e5e2de;
  padding: 25px;
}

.logo {
  text-align: center;
  padding: 40px 9;
  font-weight: 600;
  color: #4a4a4a;
}

.copyright {
  font-size: 14px;
}

.email {
  font-size: 22px;
}

nav {
  box-sizing: border-box;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav > ul > li {
  box-sizing: border-box;
}

nav > ul > li > a {
  padding: 0 15px; /* 0 on top and bottom, 15px left and right */
  text-transform: uppercase;
  font-weight: 600;
  color: #4a4a4a;
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none; /* Hide all navigation elements except for hamburger icon in mobile view */
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  box-sizing: border-box;
  display: block;
  padding: 10px 0;
  margin: 30px 0;
  text-align: center;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
  margin: 0;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:visited {
  color: ff7f50;
  text-decoration: none;
  /* No underlining */
}

#hero {
  background-color: #e5e2de;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#contact {
  text-align: center;
}

.social {
  display: inline-block;
  padding: 15px;
  font-size: 2em;
}

.sidebar {
  background-color: #cadfe3;
  padding: 15px;
  margin: 10px;
}

.headshot {
  width: 30%;
  height: auto;
  display: block;
}

.bluebg {
  background-color: rgba(218, 236, 250, 0.5);
  padding: 20px;
}

/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }

  header {
    text-align: unset;
  }

  .logo {
    font-size: 1.75em;
  }

  nav {
    width: auto;
    float: right;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
    box-sizing: border-box;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    padding: 0;
    margin: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 76px;
  }

  [class*="col-"] {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about .row {
    display: flex;
    justify-content: space-between;
  }

  #about h3 {
    margin: 10px 0;
  }

  #hero {
    height: 450px;
  }

  #hero span {
    display: block;
  }

  .headshot {
    max-width: 300px;
  }
}

#tstp2 .row {
  display: flex;
  justify-content: space-between;
}

/* large devices (1024px and larger) */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-9 {
    width: 75%;
  }

  #hero {
    height: 275px;
  }

  #hero h1 {
    font-size: 42px;
  }
}
